.main{
  display: flex;
  background-color: #F6F8FC;
  z-index: -1;
}

.options{
  width: 5%;
  background-color: #C2E7FE;
  height: auto;
}

.console{
  width: 15%;
}

.left{
  width: 300px; 
  display: flex;
  align-items: center;
}

input.search{
  width: 50%; 
  height: 50px; 
  border: none;
  border-radius: 25px;
  background-color: #EAF1FB;
  margin-bottom: 2rem; 
}

.email{
  display: flex;
  background-color: #F2F6FC;
  padding: 0.1em 1em 0.1em 1em;
  border-bottom: 0.5px solid;
}

.email:hover{
  filter: drop-shadow(0 0 0.25rem gray);
}

.select{
  width:15px; 
  height:15px;
  background-color: #F2F6FC;
  border: 1px solid;
}

.select:active{
  background-color: rgb(255, 238, 0);
}

.add{
  width: 25px; 
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  text-align: center  ;
}

.add:hover{
  background-color: lightgray;
  transition: 0.3s; 
}

p.name{
  padding-right: 120px; 
  padding-left: 10px;
}

.emails{
  width: 80%; 
  background-color: #F6F8FC;
  height: auto;
}

.folders{
  display: flex; 
}

.firstFolder{
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  width: 275px; 
  height: 60px;
  text-align: left;
  padding-left: 1rem;
  border:none; 
  border-bottom: 5px solid;
}

.folder{
  display: flex;
  align-items: center;
  background-color: white;
  border: none; 
  width: 275px; 
  height: 60px;
  text-align: left;
  padding-left: 1rem;
}

.addFolder{
  width: 475px; 
  height: 330px;
  position: absolute;
  z-index: 100;
  background-color: #D9D9D9;
  border-radius: 5px;
  margin-top: 125px; 
  filter: drop-shadow(0 0 0.5rem );
  box-sizing: border-box;
  padding: 0.5rem 2rem 0.5rem 2rem; 
}

.setFolder{
  width: 100%; 
}

.cancelButton{
  border: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem; 
  border-radius: 15px;
}

.createButton{
  border: 1px solid; 
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem; 
  border-radius: 15px;
}

.cancelButton, .createButton:hover{
  background-color: #D9D9D9;

}

.center{
  display: flex; 
  justify-content: center;
}

.right{
  display:flex; 
  justify-content: end;
  margin-top: 1rem;
}


p.name{
  width: 200px; 
  padding-left:10px; 
}

.chooseColor{
  background-color: white;
  width: 200px; 
  padding: 1rem; 
  border-radius: 5px;
  position: fixed; 
  z-index: 1;
}

.rowColor{
  display: flex; 
  flex-wrap: wrap;
}

.sampleLetter{
  margin:0; 
  padding:0; 
}

.colorButton{
  width: 30px; 
  height: 30px; 
  border-radius: 20px;
  border: none; 
  margin: 5px; 
  align-content: center;
}