.main{
  display: flex;
}

.options{
  width: 5%;
  background-color: #C2E7FE;
  height: auto;
}

.console{
  width: 15%;
}

.left{
  width: 300px; 
  display: flex;
  align-items: center;
}

p.icons{
  font-family: "FontAwesome";
}

input.search{
  width: 50%; 
  height: 50px; 
  border: none;
  border-radius: 25px;
  background-color: #EAF1FB;
  margin-bottom: 2rem; 
}

.email{
  display: flex;
  background-color: #F2F6FC;
  padding: 0.1em 1em 0.1em 1em;
  border-bottom: 0.5px solid;
}

.email:hover{
  filter: drop-shadow(0 0 0.25rem gray);
}

.select{
  width:15px; 
  height:15px;
  background-color: #F2F6FC;
  border: 1px solid;
}

.select:active{
  background-color: rgb(255, 238, 0);
}

p.name{
  padding-right: 120px; 
  padding-left: 10px;
}

.emails{
  width: 80%; 
  background-color: white; 
  height: auto;
}